{
    "openapi": "3.0.0",
    "info": {
        "title": "kanban_project_backend_api",
        "contact": {
            "name": "kent vejrup madsen",
            "url": "https://github.com/KentVejrupMadsen",
            "email": "kent.vejrup.madsen@protonmail.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://github.com/KentVejrupMadsen/Kanban-Project-Backend/blob/main/License.md"
        },
        "version": "1.0.0-alpha"
    },
    "servers": [
        {
            "url": "https://kanban.goalpioneers.com/api/1.0.0",
            "description": "public available server"
        },
        {
            "url": "http://localhost:8000/api/1.0.0",
            "description": "local development server"
        }
    ],
    "paths": {
        "/api/1.0.0/accounts/account/me": {
            "get": {
                "tags": [
                    "1.0.0",
                    "account",
                    "authentication"
                ],
                "operationId": "9c102203a166e3ea6c448106190d2185",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": "<<<JSON"
                            },
                            "application/xml": {
                                "schema": {},
                                "example": ""
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/account/read": {
            "get": {
                "tags": [
                    "1.0.0",
                    "account"
                ],
                "operationId": "d0e6ca6b88186e34b564adbea5cc2701",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/account/login": {
            "post": {
                "tags": [
                    "1.0.0",
                    "account",
                    "authentication"
                ],
                "operationId": "fb1db0ab51afd935e8c9be3bb1f7aba9",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/account/logout": {
            "get": {
                "tags": [
                    "1.0.0",
                    "account",
                    "authentication"
                ],
                "operationId": "376ad6dabd59505f67ca74e6c0b6cfdc",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/account/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    "account",
                    "authentication"
                ],
                "description": "",
                "externalDocs": {
                    "description": "",
                    "url": "https://github.com/KentVejrupMadsen/Kanban-Project-Backend"
                },
                "operationId": "623415e5a56d2135ebfacf37aaf1d9e6",
                "responses": {
                    "201": {
                        "description": "Account created",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "example": "{\r\n\t\"username\": \"username\",\r\n\t\"bearer_token\": \"integer|bearer-token-string-herexxxxxx\"\r\n}"
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request - an account already exist with the given parameters"
                    },
                    "540": {
                        "description": "content not found"
                    }
                },
                "deprecated": false
            }
        },
        "/api/1.0.0/accounts/account/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    "account"
                ],
                "operationId": "5632735515ddb0216063bb53fe6e2689",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/account/delete": {
            "delete": {
                "tags": [
                    "1.0.0",
                    "account"
                ],
                "operationId": "a1020a3f3f5a1407dd82a981b0111de1",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/account/verify": {
            "post": {
                "tags": [
                    "1.0.0",
                    "account",
                    "authentication"
                ],
                "operationId": "ba1c7e0cd75516c5a428a9fce1b64e26",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/address/read": {
            "get": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "77b839d99beac7bc3d082292ecfa756c",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/address/delete": {
            "delete": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "b7f2b0bcfb2c2585c7ac7a66ea5ff93d",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/address/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "ad49446d550e7a7dc7115689ad88c473",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/address/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "97cc7449b129421c14a439758fc37774",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/email/read": {
            "get": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "summary": "Pipeline function:",
                "operationId": "a2209f4afabdcef58c0e43b0a6f56618",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/email/delete": {
            "delete": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "db5fabebd14eae6b5a14757b330f790a",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/email/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "5e9096475e6fbfe4f476f7612160cfa4",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data"
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/email/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "a3e1f3a7bd54b185a203d728a06137f2",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data"
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/name/read": {
            "get": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "8c3fde0f11900b15e9dbf5dd047194e9",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "reads a specific person name entity values from the database table",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/name/delete": {
            "delete": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "4a3b763acae54ff67968d317c9d994f2",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "deletes a specific person name entity from the database table",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/name/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "18d9c3ce56a275e03b8aac4319aba84c",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "creates a specific person name entity by inserting it into the database",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/entities/name/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    "account-additional"
                ],
                "operationId": "a31fb462b73f9f093e3e88e672ffbc9c",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "updates the person entities name with a new name",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/information/read": {
            "get": {
                "tags": [
                    "1.0.0",
                    "account",
                    "account-additional"
                ],
                "operationId": "d276863db0973726388e42ca4f7883b6",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/api/1.0.0/accounts/information/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    "account",
                    "account-additional"
                ],
                "operationId": "74aee4df879f05f3debb7a4bf02f39c4",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/information/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    "account",
                    "account-additional"
                ],
                "operationId": "70069255fc71ae94722085292a6d7803",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/information/delete": {
            "delete": {
                "tags": [
                    "1.0.0",
                    "account",
                    "account-additional"
                ],
                "operationId": "88aaf9bed481fd43e89a402904647deb",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/newsletter/read": {
            "get": {
                "tags": [
                    "1.0.0",
                    "newsletter"
                ],
                "operationId": "4ed4a63ea215b156f668b3afae372351",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/newsletter/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    "newsletter"
                ],
                "operationId": "560b1fabf8444c6f488caa4085928b35",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/newsletter/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    "newsletter"
                ],
                "operationId": "3b62e382546f1b2a981bfdd459227148",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/accounts/newsletter/delete": {
            "delete": {
                "tags": [
                    "1.0.0",
                    "newsletter"
                ],
                "operationId": "adee67e23adc0b6df75da9d6a78187c6",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/options/find/email": {
            "post": {
                "tags": [
                    "1.0.0",
                    "account-options"
                ],
                "operationId": "114aadedf848138a9fc03438ca999db0",
                "responses": {
                    "200": {
                        "description": "validates if the requested email is existing in the database as a json response."
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/options/state/email": {
            "post": {
                "tags": [
                    "1.0.0",
                    "account-options"
                ],
                "operationId": "870bba7af5b9e4472f01ea31b8cea566",
                "responses": {
                    "200": {
                        "description": "validates if the requested email is existing in the database as a json response."
                    }
                }
            }
        },
        "/api/1.0.0/securities/configuration/read": {
            "get": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "601cc7092212de17b9e09c005ea1c001",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/configuration/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "dcc1791d1355abeec749f34a354945ce",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/configuration/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "0715059f892584dbe8e6f83a28be6553",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/configuration/delete": {
            "delete": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "0ff0444addf5971c575f11cd4421898a",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "has to be included in the header of the request"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/csrf/access": {
            "post": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "1e611ef262208ec8586239ff0d0c63f3",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/csrf/read": {
            "get": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "6154ccaa05311980eb9c5bd0cf7ecd0f",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/csrf/create": {
            "get": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "e2c2ee3e755a79785e7151ff36884ba2",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/csrf/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "24f90548d7f9ad0e816a47072baa0acb",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/csrf/reset": {
            "get": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "74b1cbdfb9f5eb830b50b137822e1779",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/csrf/delete": {
            "delete": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "a62b24fdc1392c421af622644cc5bb63",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/recaptcha/read": {
            "get": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "c7b8fa1969f39fddbceeef4633acdd55",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/recaptcha/update": {
            "patch": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "72e0caaeb57ab072b938d68646fdd1cc",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/recaptcha/create": {
            "post": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "c79dda537fe32be679042f3901eb97c9",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        },
        "/api/1.0.0/securities/recaptcha/delete": {
            "delete": {
                "tags": [
                    "1.0.0",
                    "security"
                ],
                "operationId": "5d94574b4e469077ee49c791107f8b49",
                "responses": {
                    "200": {
                        "description": "The data",
                        "content": {
                            "application/json": {
                                "schema": {}
                            },
                            "application/xml": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "content not found"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AccountController": {
                "title": "Account Controller",
                "description": "",
                "type": "controller"
            },
            "PersonAddressController": {
                "title": "Person Address Controller",
                "description": "",
                "type": "controller"
            },
            "PersonEmailController": {
                "title": "Person Email Controller",
                "description": "",
                "type": "controller"
            },
            "PersonNameController": {
                "title": "Person Name Controller",
                "description": "",
                "type": "controller"
            },
            "InformationController": {
                "title": "Account Information Controller",
                "description": "",
                "type": "controller"
            },
            "NewsletterController": {
                "title": "Newsletter Controller",
                "description": "",
                "type": "controller"
            },
            "FindController": {
                "title": "Find Controller",
                "description": "",
                "type": "controller"
            },
            "StateController": {
                "title": "State Controller",
                "description": "",
                "type": "controller"
            },
            "SecurityConfigurationController": {
                "title": "Security Configuration Controller",
                "description": "",
                "type": "controller"
            },
            "SecurityCSRFTokenController": {
                "title": "Security CSRF Token Controller",
                "description": "",
                "type": "controller"
            },
            "SecurityRecaptchaController": {
                "title": "Security Recaptcha Controller",
                "description": "",
                "type": "controller"
            },
            "AccountRequest": {
                "title": "Account Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "PersonAddressRequest": {
                "title": "Person Address Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "PersonEmailRequest": {
                "title": "Person Email Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "PersonNameRequest": {
                "title": "Person Name Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "InformationRequest": {
                "title": "Information Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "NewsletterRequest": {
                "title": "Newsletter Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "FindRequest": {
                "title": "Find Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "StateRequest": {
                "title": "State Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "SecurityConfigurationRequest": {
                "title": "Security Configuration Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "SecurityCSRFRequest": {
                "title": "Security CSRF Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "SecurityRecaptchaRequest": {
                "title": "Security Recaptcha Request",
                "description": "",
                "type": "request",
                "deprecated": false
            },
            "AccountViewModel": {
                "title": "Account View Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "view name",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "accounts_view"
                        ]
                    },
                    "field_id": {
                        "title": "identity column",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "id"
                        ]
                    },
                    "field_username": {
                        "title": "username column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "username"
                        ]
                    },
                    "field_email": {
                        "title": "email column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "email"
                        ]
                    },
                    "field_email_verified_at": {
                        "title": "account verified at column",
                        "type": "timestamp",
                        "nullable": true,
                        "deprecated": false,
                        "enum": [
                            "email_verified_at"
                        ]
                    },
                    "field_password": {
                        "title": "password column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "password"
                        ]
                    },
                    "field_remember_token": {
                        "title": "remember token column",
                        "type": "string",
                        "nullable": true,
                        "deprecated": false,
                        "enum": [
                            "remember_token"
                        ]
                    },
                    "field_created_at": {
                        "title": "creation date column",
                        "type": "timestamp",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "created_at"
                        ]
                    },
                    "field_updated_at": {
                        "title": "last updated at column",
                        "type": "timestamp",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "updated_at"
                        ]
                    },
                    "field_settings": {
                        "title": "settings column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "settings"
                        ]
                    }
                },
                "type": "view",
                "readOnly": true,
                "writeOnly": false,
                "deprecated": false
            },
            "AddressViewModel": {
                "title": "Address View Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "view name",
                        "type": "string",
                        "deprecated": false,
                        "enum": [
                            "addresses_view"
                        ]
                    },
                    "field_id": {
                        "title": "identity",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "id"
                        ]
                    },
                    "field_account_information_id": {
                        "title": "",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "account_information_id"
                        ]
                    },
                    "field_road_name": {
                        "title": "road name column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "road_name"
                        ]
                    },
                    "field_road_number": {
                        "title": "road number column",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "road_number"
                        ]
                    },
                    "field_levels": {
                        "title": "level column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "levels"
                        ]
                    },
                    "field_address_country": {
                        "title": "country column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "address_country"
                        ]
                    },
                    "field_zip_code_id": {
                        "title": "zip code column",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "zip_code_id"
                        ]
                    }
                },
                "type": "view",
                "readOnly": true,
                "writeOnly": false,
                "deprecated": false
            },
            "NewsletterViewModel": {
                "title": "Newsletter View Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "view name",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "newsletter_view"
                        ]
                    },
                    "field_id": {
                        "title": "identities column",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "identity"
                        ]
                    },
                    "field_email": {
                        "title": "email column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "email"
                        ]
                    },
                    "field_options": {
                        "title": "option column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "options"
                        ]
                    }
                },
                "type": "view",
                "readOnly": true,
                "writeOnly": false,
                "deprecated": false
            },
            "PersonNameViewModel": {
                "title": "Person Name View Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "view name",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "person_names_view"
                        ]
                    },
                    "field_id": {
                        "title": "identity column",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "identity"
                        ]
                    },
                    "field_account_information_id": {
                        "title": "account information column",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "account_information_id"
                        ]
                    },
                    "field_person_first_name": {
                        "title": "person first name column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "person_first_name"
                        ]
                    },
                    "field_person_name_middlename": {
                        "title": "person middle names column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "person_name_middlename"
                        ]
                    },
                    "field_person_last_name": {
                        "title": "person last name column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "person_last_name"
                        ]
                    }
                },
                "type": "view",
                "readOnly": true,
                "deprecated": false
            },
            "ZipCodeViewFullModel": {
                "title": "Zip Code View Full model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "view name",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "zip_codes_view_full"
                        ]
                    },
                    "field_id": {
                        "title": "identity column",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "identity"
                        ]
                    },
                    "field_area_name": {
                        "title": "post code area name column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "area_name"
                        ]
                    },
                    "field_post_code": {
                        "title": "post code column",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "zip_number"
                        ]
                    },
                    "field_country_name": {
                        "title": "country name column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "country_name"
                        ]
                    },
                    "field_country_acronym": {
                        "title": "country acronym column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "country_acronym"
                        ]
                    }
                },
                "type": "view",
                "readOnly": true,
                "writeOnly": false,
                "deprecated": false
            },
            "ZipCodeViewShortModel": {
                "title": "Zip Code View short model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "view name",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "zip_codes_view_short"
                        ]
                    },
                    "field_id": {
                        "title": "identity column",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "identity"
                        ]
                    },
                    "field_area_name": {
                        "title": "area name column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "area_name"
                        ]
                    },
                    "field_post_code": {
                        "title": "post code number column",
                        "type": "integer",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "zip_number"
                        ]
                    },
                    "field_country_acronym": {
                        "title": "country acronym column",
                        "type": "string",
                        "nullable": false,
                        "deprecated": false,
                        "enum": [
                            "country_acronym"
                        ]
                    }
                },
                "type": "view",
                "readOnly": true,
                "deprecated": false
            },
            "AccountState": {
                "title": "Account States Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "account_states"
                        ]
                    },
                    "field_account_id": {
                        "title": "account column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "account_identity"
                        ]
                    },
                    "field_deactivated": {
                        "title": "deactivated column",
                        "type": "boolean",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "deactivated"
                        ]
                    },
                    "field_writeable_disabled": {
                        "title": "writeable disabled column",
                        "type": "boolean",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "writeable_disabled"
                        ]
                    },
                    "field_locked": {
                        "title": "locked column",
                        "type": "boolean",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "locked"
                        ]
                    },
                    "field_archived": {
                        "title": "archived column",
                        "type": "boolean",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "archived"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "CSRFModel": {
                "title": "Cross-Site Request Forgery Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "security_csrf_token"
                        ]
                    },
                    "field_identity": {
                        "title": "identity column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "identity"
                        ]
                    },
                    "field_assigned_to": {
                        "title": "assigned to column",
                        "type": "IPv4|IPv6 address",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "assigned_to"
                        ]
                    },
                    "field_issued": {
                        "title": "issued column",
                        "type": "timestamp",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "issued"
                        ]
                    },
                    "field_accessed": {
                        "title": "accessed column",
                        "type": "timestamp",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "accessed"
                        ]
                    },
                    "field_activated": {
                        "title": "is activated column",
                        "type": "boolean",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "activated"
                        ]
                    },
                    "field_invalidated": {
                        "title": "is invalidated column",
                        "type": "boolean",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "invalidated"
                        ]
                    },
                    "field_secret_token": {
                        "title": "secret token column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "secret_token"
                        ]
                    },
                    "field_secure_token": {
                        "title": "secure token column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "secure_token"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "ConfigurationModel": {
                "title": "Configuration Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "security_configuration"
                        ]
                    },
                    "field_key": {
                        "title": "key column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "key"
                        ]
                    },
                    "field_value": {
                        "title": "value column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "value"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "RecaptchaModel": {
                "title": "Recaptcha Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "security_recaptcha"
                        ]
                    },
                    "field_success": {
                        "title": "success column",
                        "type": "boolean",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "success"
                        ]
                    },
                    "field_score": {
                        "title": "score column",
                        "type": "number",
                        "format": "double",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "score"
                        ]
                    },
                    "field_at_date": {
                        "title": "at date column",
                        "type": "timestamp",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "at_date"
                        ]
                    },
                    "field_hostname": {
                        "title": "hostname column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "hostname"
                        ]
                    },
                    "field_error": {
                        "title": "error column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "error"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "AccountEmailModel": {
                "title": "Account Email Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "Account emails table name",
                        "type": "database table",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "account_emails"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "AccountInformationModel": {
                "title": "Account Information Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "account_information_options"
                        ]
                    },
                    "field_account": {
                        "title": "account column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "account_identity"
                        ]
                    },
                    "field_created_at": {
                        "title": "creation date column",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "created_at"
                        ]
                    },
                    "field_updated_at": {
                        "title": "last updated column",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "updated_at"
                        ]
                    },
                    "field_settings": {
                        "title": "account settings column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "settings"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "AddressModel": {
                "title": "Address Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "addresses"
                        ]
                    },
                    "field_account_information_id": {
                        "title": "account information column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "account_information_identity"
                        ]
                    },
                    "field_road_name_id": {
                        "title": "road name column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "road_name_identity"
                        ]
                    },
                    "field_road_number": {
                        "title": "road number column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "road_number"
                        ]
                    },
                    "field_levels": {
                        "title": "apartment column",
                        "type": "integer",
                        "deprecated": false,
                        "enum": [
                            "level_identity"
                        ]
                    },
                    "field_country_id": {
                        "title": "country column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "country_identity"
                        ]
                    },
                    "field_zip_code_id": {
                        "title": "post code column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "zip_code_identity"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "AddressRoadNameModel": {
                "title": "Address Road Name Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "address_road_names"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "ApartmentLevelModel": {
                "title": "Apartment Level Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "apartment_levels"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "CountryModel": {
                "title": "Country Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "countries"
                        ]
                    },
                    "field_country_name": {
                        "title": "country name column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "country_name"
                        ]
                    },
                    "field_country_acronym": {
                        "title": "country acronym column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "country_acronym"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "NewsletterSubscriptionModel": {
                "title": "Newsletter Subscription Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "newsletter_users"
                        ]
                    },
                    "field_email_id": {
                        "title": "email identity column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "email_identity"
                        ]
                    },
                    "field_account_id": {
                        "title": "account identity column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "account_identity"
                        ]
                    },
                    "field_options": {
                        "title": "option column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "options"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "PersonFirstnameModel": {
                "title": "Person Firstname Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "person_name_first"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "PersonNameModel": {
                "title": "Person Name Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "person_name"
                        ]
                    },
                    "field_account_information_id": {
                        "title": "account information column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "account_information_identity"
                        ]
                    },
                    "field_person_name_first_id": {
                        "title": "person first name column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "person_name_first_identity"
                        ]
                    },
                    "field_person_name_lastname_id": {
                        "title": "person last name column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "person_name_lastname_identity"
                        ]
                    },
                    "field_person_name_middlename": {
                        "title": "person middle name column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "person_name_middlename"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "PersonSurnameModel": {
                "title": "Person Surname Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "person name middle & last name table",
                        "type": "string",
                        "readOnly": true,
                        "deprecated": false,
                        "enum": [
                            "person_name_middle_and_last"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            },
            "User": {
                "title": "Account Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "account table name",
                        "type": "string",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "accounts"
                        ]
                    },
                    "field_username": {
                        "title": "username column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "username"
                        ]
                    },
                    "field_email_id": {
                        "title": "email column",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "account_email_identity"
                        ]
                    },
                    "field_verified_at": {
                        "title": "is email verified column",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "email_verified_at"
                        ]
                    },
                    "field_password": {
                        "title": "password column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "password"
                        ]
                    },
                    "field_created_at": {
                        "title": "creation date column",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "created_at"
                        ]
                    },
                    "field_updated_at": {
                        "title": "last updated at column",
                        "type": "string",
                        "format": "date-time",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "updated_at"
                        ]
                    },
                    "field_settings": {
                        "title": "settings column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "settings"
                        ]
                    },
                    "field_remember_token": {
                        "title": "remember token column",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "remember_token"
                        ]
                    }
                },
                "type": "table-account",
                "deprecated": false
            },
            "ZipCodeModel": {
                "title": "Zip Code Model",
                "description": "",
                "properties": {
                    "table_name": {
                        "title": "table name",
                        "type": "database table",
                        "readOnly": true,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "zip_codes"
                        ]
                    },
                    "field_area_name": {
                        "title": "",
                        "type": "string",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "area_name"
                        ]
                    },
                    "field_zip_number": {
                        "title": "",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "zip_number"
                        ]
                    },
                    "field_country_id": {
                        "title": "",
                        "type": "integer",
                        "readOnly": false,
                        "writeOnly": false,
                        "deprecated": false,
                        "enum": [
                            "country_identity"
                        ]
                    }
                },
                "type": "table",
                "deprecated": false
            }
        },
        "securitySchemes": {
            "account_logout": {
                "type": "http",
                "name": "authorization",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "Bearer"
            },
            "account_update": {
                "type": "http",
                "name": "authorization",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "Bearer"
            },
            "account_deletion": {
                "type": "http",
                "description": "",
                "name": "authorization",
                "in": "header",
                "bearerFormat": "JWT",
                "scheme": "Bearer"
            }
        }
    },
    "tags": [
        {
            "name": "1.0.0",
            "description": ""
        },
        {
            "name": "account",
            "description": ""
        },
        {
            "name": "account-additional",
            "description": ""
        },
        {
            "name": "account-options",
            "description": ""
        },
        {
            "name": "newsletter",
            "description": ""
        },
        {
            "name": "tools",
            "description": ""
        },
        {
            "name": "security",
            "description": ""
        },
        {
            "name": "authentication",
            "description": ""
        }
    ]
}