// Settings by default
@import 'headers.scss';

// 
html 
{
    margin: 0px !important;
    padding: 0px !important;
}

body 
{
    margin: 0px !important;
    padding: 0px !important;

}

main 
{

}   

header
{

}

#header-primary 
{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    grid-gap: 32px;
}

#header-primary .component-logo
{
    width: 50px;
    height: 50px;
}

#header-primary .component-logo img 
{
    width: 100%;
    height: 100%;
}

#header-secondary
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-gap: 32px;
}

footer 
{

}


//
a 
{
    text-decoration: none;
    color: #4cd137;
}

a:hover 
{
    color: #e84118;
}

//
ul
{
    list-style: none;
}

ul li 
{
    
}