# reads all objects it finds on the repository as a text files.

* text=auto

# Specifc types
*.blade.php diff=html
*.md diff=markdown

*.php diff=php
*.php text eol=lf

*.sql text eol=lf

*.json diff=json

    # bash settings
*.sh diff=bash
*.sh text eol=lf

    # Powershell settings
*.ps1 text eol=crlf

    # Git attributes
.gitignore text eol=lf
.gitattributes text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore