.login-area
{
    width:40%;
    margin-right: auto;
    margin-left: auto;
}

.login-area form
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-area form span 
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-area .navigation
{
    display: flex;
    flex-direction: row;
}

.main-navigation 
{
    justify-content: center;
}

.secondary-navigation
{
    justify-content: space-between;
}

